<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Form</title>
</head>
<body>
    <h1>HTML Form</h1>
    <form action="/submit" method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" value="{{ id }}" placeholder="Enter ID"/>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ name }}" placeholder="Enter Name"/>

        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
